@import url(https://fonts.googleapis.com/css?family=Roboto&displayer=italic);

body{
     background-color: powderblue;
     font-family: 'roboto', sans=serif;
     margin: 10px;
}
p{
    
    display: inline-flex;
    align-items: center;
    justify-content: centre;
    
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
    width: 200px;
    height: 70px;
    text-decoration: none;
    color: crimson;
}